$color-primary:  rgb(11, 236, 161);
$color-warning: coral;
// $color-primary-ligth: #92B7A9;
// $color-primary-dark: #3FB7AC;
// $color-secondary: #D52E2D;

$color-text: #363636;
$color-text-light: #727272;
$color-white: #fff;

$bold: 700;
$medium: 500;
$normal: 400;
$thin: 300;

$border-radius: .8rem;
