html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
}

.question {
  font-size: 2rem;
}

.btn {
  border-radius: 10%;
  padding: 2em;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: blanchedalmond;
}

.btn-green {
  background-color: rgb(11, 236, 161);

}

.btn-green:hover {
  background-color: rgb(0, 255, 170);
}



.btn-red {
  background-color: coral;
}

.btn-red:hover {
  background-color: rgb(242, 97, 45);
}